@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #ccc;
}
.container{
	background: #fff;
	width: 960px;
	margin: 20vh auto;
	border: 1px #555 solid;
}
.header{
	background: #555;
	color: #eee;
	padding: 20px 30px;
}
.article{
	padding: 20px 15px;
}
.article label{
	font-size: 1.2em;
	float: left;
	width: 80px;
}
.article input{
	width: 830px;
	height: 20px;
}
.menu{
	background: #f0f0f0;
	height: 100px;
}
.menu div{
	text-align: center;
	float: left;
}
.menu div a, .menu div input, .menu div select{
	box-sizing: border-box;
	color: #333;
	background: #ddd;
	border: 1px solid #ccc;
	width: 150px;
	height: 100px;
	line-height: 100px;
	float: left;
	text-decoration: none;
	font-size: 1.2em;
}
.menu div a:hover, .menu div input:hover{
	background: #333;
	color: #ddd;
}